data/
.ipynb_checkpoints
.bin
*.db

*.parquet
!**/Homework/Week3/data/*
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/
env

!/Homework/Week5/data/*
!/Homework/Week5/models/*

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store
